@page "/home"
@using System.Data
@using Dyn365FoCheatSheet.Models

<MudContainer Fixed="true" Class="mt-6">
    <MudText Typo="Typo.h6"  Class="mb-4" Color="Color.Success">
        Kullanıcı Paneli
    </MudText>

    <MudGrid Class="mb-4">
        <MudItem xs="12" sm="4">
            <MudCard Class="pa-3" Style="background-color:#1b1c1e;" @onclick="GoToServiceExplorer">
                <MudIconButton Icon="@Icons.Material.Filled.RoomService"
                               Class="no-hover"
                               Style="color:wheat;"
                               Size="Size.Large"
                               OnClick="GoToServiceExplorer"
                               Title="Service Explorer" />
                <MudText Align="Align.Center" Typo="Typo.subtitle2" Style="color:wheat;">Servis Test Ekranı</MudText>
            </MudCard>
        </MudItem>
        <MudItem xs="12" sm="4">
            <MudCard Class="pa-3" Style="background-color:#1b1c1e;" @onclick="GoAddPage">
                <MudIconButton Icon="@Icons.Material.Filled.TextSnippet"
                               Style="color:wheat;"
                               OnClick="GoAddPage"
                               Size="Size.Large"
                               Class="ml-2 no-hover" />
                <MudText Align="Align.Center" Typo="Typo.subtitle2" Style="color:wheat;">Javascript Test Ekranı</MudText>
            </MudCard>
        </MudItem>
        <MudItem xs="12" sm="4">
            <MudCard Class="pa-3" Style="background-color:#1b1c1e;" @onclick="GoEmployeePage">
                <MudIconButton Icon="@Icons.Material.Filled.PeopleOutline"
                               Style="color:wheat;"
                               OnClick="GoEmployeePage"
                               Size="Size.Large"
                               Class="ml-2 no-hover" />
                <MudText Align="Align.Center" Typo="Typo.subtitle2" Style="color:wheat;">Personeller</MudText>
            </MudCard>
        </MudItem>
    </MudGrid>
    <MudStack AlignItems="AlignItems.Center">
    @if (isLoading)
    {
            <div class="loading-overlay">
                <MudProgressCircular Style="color:wheat;height:100px;width:100px;" Indeterminate="true" >
                    <ChildContent>Loading...</ChildContent>
                </MudProgressCircular>
                @* <MudProgressLinear Color="Color.Primary" Buffer="true" Value="@Value" BufferValue="@BufferValue" Class="my-7" /> *@
            </div>
    }
    </MudStack>
 
</MudContainer>




@code{
    [Inject]
    public NavigationManager Navigation { get; set; }
    bool isLoading = false;
   


    void GoAddPage()
    {
        Navigation.NavigateTo("/texteditor");
    }

    void GoToServiceExplorer()
    {
        Navigation.NavigateTo("/service-explorer");
    }

    void GoEmployeePage()
    {
        isLoading = true;
        // 100ms bekleme ekleyip async navigasyon yapabilirsin
        Task.Run(async () =>
        {
            await Task.Delay(100); // progress bar'ın render olması için küçük delay
            Navigation.NavigateTo("/employee");
        });
    }

  

}




